.song-form-container {
  margin:auto;
  background-color: lightgray;
  width: 420px;
  /* text-align: center; */
}

.song-form-container label {
  display: block;
  margin-top: 15px;
  /* background-color: gray; */
  /* width: 75px; */
}

.song-form-container input {
  display: block;
  margin-top: 5px;
  width: 100%;
}

.button-container {
  margin-top: 20px;
  margin: auto;
  width: 100%;
  text-align: center;
}