.banner-image-container {
  height: 454px;
  background-color: black;
  text-align: center;
  background-image: url('https://nimbus-sounds.s3.us-west-1.amazonaws.com/banner-2.png');
  background-size: 100%;
  background-position-y: -145px;
}
