/* TODO Add site wide styles */
body {
  padding: 0px;
  font-family: Lucida sans;
  /* line-height: 12pt; */
  background-color: rgb(226, 225, 225);
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  /* font-size: 1rem; */
  color: inherit;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

footer {
  background-color: black;
  color: white;
}

.content-container{
  width: 90%;
  height: 100%;
  margin: 46px auto 0 auto;
  /* margin-bottom: 0;
  margin-top: 46px; */
  background-color: white;
}