/* TODO Add site wide styles */
body {
  padding: 0px;
  font-family: Lucida sans;
  /* line-height: 12pt; */
  background-color: rgb(226, 225, 225);
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  /* font-size: 1rem; */
  color: inherit;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

footer {
  background-color: black;
  color: white;
}

.content-container{
  max-width: 1240px;
  width: 90%;
  height: 100%;
  margin: 46px auto 0 auto;
  /* margin-bottom: 0;
  margin-top: 46px; */
  background-color: white;
}

.form-container {
  margin:auto;
  padding: 100px 0 100px 0;
  background-color: white;
  width: 420px;
  /* text-align: center; */
}

.form-container label {
  display: block;
  margin-top: 15px;
  /* background-color: gray; */
  /* width: 75px; */
}

.form-container input {
  display: block;
  margin-top: 5px;
  width: 100%;
}

.form-button-container {
  margin-top: 20px;
  margin: auto;
  width: 100%;
  text-align: center;
}

/* @media screen and (max-width: 899px) {
  .banner {
    visibility: hidden;
  }
} */