.navbar-container {
  position: fixed;
  /* display: flex;
  justify-content: space-between; */
  top: 0px;
  width: 100%;
  height: 46px;
  color: #cccccc;
  background-color: #333;
  text-align: center;
}

.navbar-content-container {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  top: 0px;
  width: 90%;
  height: 46px;
  margin: 0 auto 0 auto;
}

.nav-home {
  margin-right: 20%;
  color: #eee;
}

@media screen and (min-width: 600px) {
.nav-site-title {
    /* margin: 25% 25% 25% 25%; */
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-top: 12px;
    font-size: 14pt;
    color: #eee;
    white-space: nowrap;
  }
}

@media screen and (max-width: 599px) {
  .nav-site-title{
    visibility: hidden;
  }
}

.nav-credentials-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 190px;
}

.nav-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5%; */
  max-width: 69px;
  min-width: 69px;
  min-height: 46px;
  background: rgb(255,85,0);
  background: linear-gradient(0deg, rgba(255,85,0,1) 15%, #ff8e56 100%);
  /* text-align: center; */
}

.navbar-left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

.nav-logo {
  /* display: block; */
  width: 75%;
  height: 75%;
  min-height: 33px;
  min-width: 50px;
  /* margin: auto; */
}

.profile-dropdown {
  height: 100px;
  list-style-type: none;
  background-color: red;
}

.nav-button-container {
display: flex;
align-items: center;
}

.nav-button{
  display: flex;
  align-items: center;
  /* display: inline-block;
  position: relative; */
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  /* font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box; */
}

.button-sign-in, .button-log-out {
  background-color: #333;
  color: #fff;
}

.button-create-account {
  background-color: rgb(255,85,0);
  color: #fff;
  border-style: none;
}
